
@import url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HCRDotum.woff); 
/*전체 폰트*/
*{
	font-family: 'HCRDotum';
}
/*내비바의 스타일 */
.navbar-default {	
	background-color: white;
	border-color: #CFCFCF;
	padding-right: 100px;
}

 /*제품 선택 버튼들 스타일*/
#divMainImg{
	padding-top: 70px;
	padding-bottom: 10px;
	padding-left: 0px;

	text-align: center;
}

#mainImg{

}

/*디바이스 선택 버튼 스타일*/


/*결과 출력하는 컨테이너 라인의 스타일*/
.container-fluid-result{
	background-color: #F2F2F2;
	
	padding-right: 15px;
 	padding-left: 15px;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	
  	margin-right: auto;
  	margin-left: auto;
  	
  	text-align: center;
}
/*해상도 및 인치 입력 하는 부분 스타일*/
#entry_box input {
  width:86px;
  height:24px;

  text-align:center;
  font:  16px Arial, Verdana, Sans-Serif;
  
  padding:5px 0 0 0;
  margin:0 0 2px 0;
  outline: none;
}
/*ppi값 출력해주는 부분의 사진*/
#resultimg{
	position: absolute;
	text-align: center;
	width: 350px;
	height: 250px;

}
/*ppi값 출력하는 택스트의 스타일*/

@media(max-width:767px){

}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){
	
}